<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<div class="bod">
  <div style="text-align:center">
    <img width="300" alt="Quote logo" src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjQtYzNjeTkAhUDaBoKHQAaATYQjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fflamingtext.com%252FName-Logos%252FQuotes%252F%26psig%3DAOvVaw0RzCGgp7axHIyDqDyC84jB%26ust%3D1569230581477678&psig=AOvVaw0RzCGgp7axHIyDqDyC84jB&ust=1569230581477678">
    
    <h1 class="ti">
      This form os used to expose {{ title }} of your choice
    </h1>
  </div>
<app-quote></app-quote>
<router-outlet></router-outlet>